* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  justify-content: center;
  width: 100vw;
  gap: 100px;
  background-color: gray;
  padding: 30px;
  margin: 20px;
}

nav > div {
  width: 100px;
  text-align: center;
}

main {
  background-color: red;
}
