* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  justify-content: center;
  width: 100vw;
  gap: 100px;
  background-color: gray;
  padding: 30px;
  margin: 20px;
}

nav > div {
  width: 100px;
  text-align: center;
}

.row {
  display: flex;
}

.cell,
img {
  width: 25px;
  height: 25px;
}

.blue {
  background-color: rgba(138, 138, 242, 0.797);
}

.yellow {
  background-color: rgba(252, 252, 52, 0.925);
}

.red {
  background-color: red;
}

.up {
  rotate: -90deg;
}

.left {
  rotate: 180deg;
}

.down {
  rotate: 90deg;
}
